* {
    background-color: var(--main-bg-color);
    scroll-behavior: smooth;
}

.section_apresentacao {
    display: flex;
    background: transparent;
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 1) 100%);
    background-attachment: fixed;
    background-size: 100% 500%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    width: var(--size-width_100);
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 20%);
    mask-image: linear-gradient(to top, transparent 0%, black 100%);
    animation: bg_animation 8s infinite alternate;
}

.section_apresentacao h1 {
    width: 250px;
    font-size: 1.6em;
    line-height: 30px;
    color: var(--main-color-font);
    animation: opacity_wellcom .5s both .5s;
}

.section_apresentacao p {
    width: 250px;
    font-size: 1em;
    margin-top: 20px;
    color: #ffffff;
    animation: opacity_wellcom .5s both .6s;
}

.section_apresentacao img {
    width: 25px;
    margin-top: 20px;
    transition: .5s;
    animation: opacity_wellcom .5s both .7s;
}

.section_apresentacao img:hover {
    transform: translate(0, 50%);
    transition: .5s;
}

.section_jogos {
    text-align: center;
    padding: 0 auto;
    color: var(--main-color-font);
}

#top_hits_title p {
    padding: 0 0 15px;
}

#box_top_hits_h2 {
    font-size: 2em;
}

#box_top_hits_h2::after {
    content: '';
    margin: 10px 0;
    display: inline-block;
    width: 150px;
    text-align: center;
    align-items: center;
    height: 3px;
    background-color: var(--paleta-branco-color);
}

.box_game_hits {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.conteiner_games {
    background-color: #111111;
    border: 1px solid #2c2c2c;
    box-shadow: 0px 0px 5px #131313f3;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    width: 75vw;
}

.box_infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box_infos img {
    text-emphasis: none;
    width: 70vw;
    padding: 10px;
    height: auto;
}

.box_infos h3 {
    font-size: 1.2em;
}

.box_infos p {
    font-size: .8em;
    padding: 10px 0;
}

.box_item {
    width: 100%;
    display: inline-block;
}

.box_item p {
    display: inline-block;
    word-break: keep-all;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 0.8em;
}

.VIEW_BUTTON {
    width: 150px;
    background-color: #111111;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 10px;
    margin: 15px 0;
    padding: 8x;
    cursor: pointer;
    color: var(--main-color-font);
}

.section_sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px 0;
}

#box_titulo_servicos {
    margin: 10px auto;
    color: var(--main-color-font);
    font-size: 1.5em;
}

#box_titulo_servicos::after {
    content: '';
    margin: 10px 0;
    display: inline-block;
    width: 150px;
    text-align: center;
    align-items: center;
    height: 3px;
    background-color: var(--paleta-branco-color);
}

.conteiner_serviços {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.box_sobre {
    justify-content: center;
    text-align: center;
    padding: 0 15px;
    color: #f0f0f0;
    font-size: 0.8em;
}

.section_contato {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}
/*
@media only screen and (min-width: 768px) and (max-width:  992px) {
    .main_titulo h1 {
        font-size: 2.4em;
    }

    .overlay p {
        font-size: 1.6em;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .main_titulo h1 {
        font-size: 2.5em;
    }

    .overlay p {
        font-size: 2em;
    }
} */